* {
  box-sizing: border-box;
}
.header-top {
  border: 1px solid#efefef;
}

.ul-top-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  line-height: 52pt;
  background-color: #f8f8f8;
  margin: 0;
  height: 42px;
}
body {
  margin: 0;
}
.ul-top-header a {
  text-decoration: none;
  position: relative;
  padding: 0 17px;
  font-size: 14pt;
  color: #797979;
}
.ul-top-header li > a:before {
  content: "";
  background-color: #e7e7e7;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.header-main {
  height: 117px;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-between;
  max-width: 238px;
  text-decoration: none;
  margin-left: 70px;
}
#select-1 {
  border: 0.5px solid rgba(99, 99, 99, 0.2);
  width: 270px;
  height: 52px;
  -webkit-appearance: none;
  background-image: url(./ïŒ’.png);
  background-repeat: no-repeat;
  background-position: 240px 50%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
  color: #797979;
}
.logo > img {
  width: 57px;
  height: 57px;
  margin-right: 20px;
}
.logo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-or {
  margin-left: 105px;
  margin-right: 30px;
}
.input-search {
  height: 52px;
  width: 670px;
  border-radius: 5px;
  border: 0.5px solid rgba(99, 99, 99, 0.2);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
  color: #797979;
}
.elements-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search {
  border: none;
  width: 630px;
  height: 100%;
  margin-left: 20px;
}
.search:focus {
  outline: none;
}
.search-icon > img {
  margin-left: -40px;
}
.cart {
  margin-left: 30px;
  width: 143px;
  height: 53px;
  background-color: #ffd356;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.cart span {
  margin-left: 20px;
}

.user {
  margin-left: 40px;
}
.user span {
  margin-left: 15px;
}
.ul-main-navigation {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  background-color: #f8f8f8;
  margin: 0;
  height: 58px;
  padding: 0;
}
.ul-main-navigation a {
  text-decoration: none;
  position: relative;
  padding: 0 25px;
  font-size: 16pt;
  line-height: 52pt;
  color: #333333;
}
.ul-main-navigation li > a:before {
  content: "";
  background-color: #e7e7e7;
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-icon > div {
  width: 15px;
  height: 1.5px;
  background-color: black;
  margin: 3px 0;
  color: #333333;
}
.menu-icon {
  margin-left: 84px;
}
.li-1st > a {
  padding-left: 9px;
}
